body
{
    background: url(img/tlo.jpg) no-repeat center center fixed;
    color: #efefef;
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.scrollup
{
    width: 64px;
    height: 64px;
    text-decoration: none;;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 20;
    background-image: url("img/up.png");
    display: none;
}



h1.logo
{
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
    color: #ddd;
    text-transform: uppercase;
    font-size: 44px;
}

#topnav
{
    background-color:midnightblue;
    text-align: center;
    width: 100%;
    overflow: hidden;
    z-index: 10;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#menu
{
    list-style-type: none;
    line-height: 200%;
    font-size: 18px;
    padding: 10px;
    margin: 0px;
}

#menu > li
{
    display: inline-block;
    border-right: 2px dotted #000;
    padding-right: 20px;
    padding-left: 20px;
    opacity: 0.8;
}

#menu a
{
    text-decoration: none;
    color: #efefef;
}

#menu > li:last-child
{
    border-right: none;
}

#menu > li:hover
{
    opacity: 1.0;
    cursor: pointer;
}

.images
{
    position: relative;
    text-align: center;
}

.responsive
{
    max-width: 100%;
    height: auto;
}

#buttons
{
    width: 100%;
}

#button1
{
    position: absolute;
    top: 117%;
    left: 40%;
    font-size: 36px;
    padding: 10px;
    color: #000;
}

#button1:hover
{
    cursor: pointer;
    color:peru;
}

#button2
{
    position: absolute;
    top: 117%;
    left: 45%;
    font-size: 36px;
    padding: 10px;
    color: #000;
}

#button2:hover
{
    cursor: pointer;
    color:peru;
}

#button3
{
    position: absolute;
    top: 117%;
    left: 50%;
    font-size: 36px;
    padding: 10px;
    color: #000;
}

#button3active
{
    position: absolute;
    top: 117%;
    left: 50%;
    font-size: 36px;
    padding: 10px;
    color: gold;
}


#button3:hover
{
    cursor: pointer;
    color:peru;
}

#button4
{
    position: absolute;
    top: 117%;
    left: 55%;
    font-size: 36px;
    padding: 10px;
    color: #000;
}

#button4:hover
{
    cursor: pointer;
    color:peru;
}

#button5
{
    position: absolute;
    top: 117%;
    left: 60%;
    font-size: 36px;
    padding: 10px;
    color: #000;
}

#button5:hover
{
    cursor: pointer;
    color:peru;
}

#button6
{
    position: absolute;
    top: 117%;
    left: 65%;
    font-size: 36px;
    padding: 10px;
    color: #000;
}

#button6:hover
{
    cursor: pointer;
    color:peru;
}

#firstrow
{
    width: 100%;
    text-align: center;
}

#secondrow
{
    width: 100%;
    text-align: center;
}

.CarLogo
{
    display: inline-block;
}

figure
{
    padding: 0;
    margin: 55px;
    text-align: center;
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
}

figure:hover
{
    opacity: 1.0;
    transform: scale(1.1);
}

figcaption
{
    text-align: center;
    letter-spacing: 3px;
}

.newest
{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
	padding-bottom: 20px;
    width: 100%;
}

h2
{
    letter-spacing: 3px;
}

.headline
{
    font-size: 20px;
    color:aliceblue;
    margin-bottom: 60px;
}

.new
{
    background-color: #333;
    border-radius: 5px;
    text-align: justify;
    margin-top: 30px;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

.newcarimg
{
    display: inline-block;
    margin-right: 10px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 180px;
}

.newcarimg img
{
    height: 100px;
    width: 179px;
}

.newtxt
{
    display: inline-block;
    width: 750px;
    font-size: 16px;
    padding-bottom: 20px;
    font-weight: 100;
}
h3.newcartitle
{
    font-size: 24px;
    color:orange;
    text-align: justify;
    font-weight: 700;
}

.support
{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
	padding-bottom: 80px;
    width: 1000px;
    text-align: center;
}

.headline2
{
    font-size: 20px;
    color:aliceblue;
    padding: 5px;
    letter-spacing: 3px;
    margin-bottom: 50px;
    text-align: center;
}

.bluebutton
{   
    background-color: cornflowerblue;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    color: #efefef;
    opacity: 1.0;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
}

.bluebutton:hover
{
    opacity: 0.9;
}

.bluebutton:visited
{
    color: #efefef;
}

#footer
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    width: 1000px;
}
